.fa-lg:hover { color: #fff }
.fa-lg:hover > i { color: #3b5998; }
table .w-20 { width:20%; }
table .w-80 { width:80%; }
.icon-size { font-size: 2em;}
.blank_row { height: 50px !important;}
.icon-white { color: white;}
.fb-icon:hover { color: #0d6efd;}
.wsa-icon:hover {color: #198754;}
.telegram-icon:hover {color: #1BA2CB;}
.mail-icon:hover {color: #87CEFA;}
.gitlab-icon:hover {color: #ffc107;}
